{% extends 'base.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <h1 id="page-title">About</h1>
    <p>Designed and built by <a href="https://amarjeet.dev" rel="me">Amarjeet Rai</a></p>
    <p>
        <a href="https://github.com/sonu27/" rel="me">GitHub</a><br>
        <a href="https://www.linkedin.com/in/amarjeetrai" rel="me">LinkedIn</a>
    </p>

    <a href="http://twitter.com/sonu27" title="Twitter @sonu27"><i class="fab fa-twitter"></i></a>
{% endblock %}
