{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <h2>Past work</h2>
    <ul>
        <li><a href="{{ path('wallpapers_index') }}">Bing Wallpapers</a></li>
        <li><a href="http://work.sonurai.com/ps3planet/">PS3 Planet</a> - 2009</li>
    </ul>
{% endblock %}
