/var/bootstrap.php.cache
/var/cache/*
!var/cache/.gitkeep
/app/config/parameters.yml
/var/logs/*
!var/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/src/AppBundle/Resources/public/wallpaper/
/vendor/
/web/bundles/
/.idea/
/var/SymfonyRequirements.php
