body {
    background-color: #021B21;
    color: #F2DCC9;
}

a:link, a:visited {
    text-decoration: none;
    color: #89d9dc;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #FFF;
}

footer {
    padding: 1.2em;
}

#main {
    background-color: #1A3841;
    padding-top: 1em;
    padding-bottom: 1em;
}

#sidebar {
    text-align: right;
}

#brand {
    color: #0F698C;
    font-size: 1.5em;
    font-weight: bold;
}

.navbar {
    line-height: 2.7em;
    margin: 0;
    padding: 0 15px;
}

.navbar-nav a {
     color: #065F73;
     font-weight: bold;
     text-transform: uppercase;
 }

.navbar-nav a:hover {
    background: white;
}

.navbar-nav a.active {color: #0F698C;}
.navbar-toggler:hover, .navbar-toggler:focus {background-color: #1A3841;}

.page-link {
    background: #021B21;
    border: 1px solid #021B21;
}
.page-link:hover {
    background: white;
    border: 1px solid white;
}

.post {
    padding-bottom: 1.5em;
}

.search-col {
    text-align: right;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.show-wallpaper-search {
    display: block;
    font-size: 30px;
    color: #89d9dc;
}

@media (max-width: 575px) {
    #page-title {font-size: 20px;}
    .show-wallpaper-search {font-size: 20px;}
}

@media (min-width: 576px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar .navbar-nav .nav-item {
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
