body {
    background-color: #021B21;
    color: #F2DCC9;
}

a:link, a:visited {
    text-decoration: none;
    color: #89d9dc;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #FFF;
}

footer {
    padding: 1.2em;
}

#main {
    background-color: #1A3841;
}

#sidebar, #social {
    text-align: right;
}

#brand {
    color: #0F698C;
    font-size: 1.5em;
    font-weight: bold;
}

.nav li a {
    color: #065F73;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
}

.nav li.active a {color: #0F698C;}

.navbar {margin-bottom: 0;}
.navbar-header .navbar-toggle:hover, .navbar-header .navbar-toggle:focus {background-color: #1A3841;}
.icon-bar {background-color: #89d9dc;}

.post {
    padding-bottom: 1.5em;
}

#social a:link, #social a:visited {
    color: #55ACEE;
}

#social i {
    font-size: 2.2em;
}

.search-col {
    text-align: right;
    margin-bottom: 10px;
}

.show-wallpaper-search {
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    color: #89d9dc;
}

@media (max-width:480px) {
    #page-title {font-size: 20px;}
    .show-wallpaper-search {font-size: 20px;}
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
